.title Noise Making Noise
	small codepen noise art challenge
#player
	#canvas-holder
		canvas#canvas
	#audio
		audio#audioObj(
			preload="true",
			crossorigin="anonymous",
			src="https://assets.codepen.io/450456/glitch-track.mp3",
			controls="",
			loop=""
		)
	#play
	#mute
